<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/home.css">
</head>
<body>
    <div class="header">
        <div>
            <a href="/">HomePage</a>
            <a href="/view">View List User</a>
        </div>
        <div>
            <a href="/create">Create a User</a>
            <a href="/login">Login</a>
        </div>
    </div>

    <div style="display: block;">
        <form action="/view" method="get">
            <button>Danh sách tài khoản</button>
         </form>
    </div>

    
    <form action="/user/createUser" method="post" >
        <div class="form">
            <h2 style="text-align: center">Form </h2>
            <input type="text" name="email" placeholder="email">
            <input type="text" name="name" placeholder="name">
            <input type="text" name="password" placeholder="password">
            <input type="text" name="phone" placeholder="phone">
            <input type="text" name="city" placeholder="city">
            <input class="button" type="submit" placeholder="submit" >
        </div>
    </form>
</body>
</html>