<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <style>
        .form{
            display: flex;
            margin: 0 auto;
            background-color: #f5f5f5;
            width: 30%;
            padding: 30px  50px;
            border-radius: 5px;
            /* box-shadow: ; */
        }
        input{
            padding: 10px 20px;
            border-radius: 3px;
            width: 100%;
            margin: 5px 0;
        }
    </style>
</head>
<body>
    <div class="header">
        <div>
            <a href="/">HomePage</a>
            <a href="/view">View List User</a>
        </div>
        <div>
            <a href="/create">Create a User</a>
            <a href="/login">Login</a>
        </div>
    </div>


    <div>
        <div class="form">
           <form style="display: flex; flex-direction: column; width: 100%; justify-content: center; align-items: center;" action="/user/loginUser" method="post">
            <h1>Login</h1>
            <input type="text" placeholder="Email" name="email">
            <input type="password" placeholder="Password" name="password">
            <input style="background-color: lightblue;" type="submit" value="Login" >
           </form>
        </div>
    </div>
</body>
</html>